<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="db.mybatis.GoodsMapper">

    <select id="getSelectedList" resultType="GoodsDto">
        SELECT * FROM tblGoods
         WHERE g_part in 
         <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
             #{item}
         </foreach>
    </select>
    
    <select id="findItemByCode" parameterType="String" resultType="GoodsDto">
        SELECT * FROM tblGoods
         WHERE g_code = #{code}
    </select>

</mapper>